/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;

}

/* general */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    font-style: inherit;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.d-flex {
    display: flex;
}

/* header */

header {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: #FF6900;
    height: 50px;
    color: white;


}

.main-header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

}

.left-header {
    min-width: 200px;
    display: flex;
    display: inline-block;
    flex-direction: row;
}

.center-header>a {
    max-width: 130px;
    min-width: 100px;
}

.right-header {
    min-width: 200px;
    justify-content: flex-end;
}

.link-list,
.right-header {
    align-items: center;
    gap: 10px;
}

.center-header {
    flex-grow: 1;
    justify-content: center;
}




/* row */
.row {
    width: 100%;
    min-width: 75%;
    display: flex;
    margin-top: 20px;
    padding: 60px 0 0 0;
}



/* column */
.column {
    position: relative;
    width: calc(100% / 3);
    margin: 0 30px;
}

.immagini {
    height: 400px;
    position: relative;
}

.front-image {
    position: absolute;
    z-index: 1;


}

.front-image:hover {
    display: none;
}

.under-image {
    position: absolute;
    left: 0;
}

.heart {
    background-color: white;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 10px;
    padding: 5px;
}

div>span:hover {
    color: red;
}

.product-description {
    min-width: 200px;
}

.discount-percentage {
    background-color: red;
    color: white;
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 40px;
}



/* elements */



/* utility */

.current-price {
    color: red;
    font-weight: 600;
}

.discount-price {
    text-decoration: line-through;
}

.upper-footer {
    background-color: #1A1A1A;
    color: white;
    height: 150px;
    margin-top: 50px;
    border-bottom: 1px solid white;
}

.divisore {
    width: 85%;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}


.bottom-footer {
    background-color: #21201D;
    height: 500px;
}

.link-ul {
    display: flex;

}

i,
li {
    margin: 7px 7px 7px 0;
}